.container{
    display: grid;
    grid-template-columns: 2fr 5fr;

    gap: 5px;
}

header{
    background:  rgba(255, 228, 196, 0.8);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
header>h1{
    grid-column-start: 2;
    display: grid;
    justify-content: center;
 }
 header>nav{
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;

 }



nav{
    background:  rgba(255, 228, 196, 0.8);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    padding-left: 45%;
    height: auto;



}

nav ul{
    display: flex;
    flex-direction: row;
    gap:20px;
    font-weight: 900
;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: lightgray;
}

.main{
    padding: 5%;
    background:  rgba(255, 228, 196, 0.8);

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 8;
    display: grid;
    height: fit-content;
    gap: 10px;

    justify-content: center;
    text-align: center;

}
.main img{
    box-shadow: 2px 2px 2px 2px;
}

.follow{
   text-align: center;
}

.fa-brands{
   font-size: 30px;
   
   justify-content: end;

}

.footer{
    padding: 1%;
         background-color: bisque;
    grid-template-columns: 3fr;
         grid-column-start: 1;
         grid-column-end: 7;
         grid-row-start: 8;
         display: grid;
         justify-content: end;
         flex-direction: row;
     }
    #kontakt{
        grid-column-start: 1;
    
        text-align: center;
        height: auto;
        
    
    }
     #prenumerera{
        grid-column-start: 3;
     }
@media (min-width:800px){
    header>nav{
        display: none;
    }
}

     @media screen and (max-width: 678px) {/*För mobil*/
        .container{
            display: flex;
            flex-direction: column;
        }
       
       .nav:hover{
           display: block;
       }
     
       .nav>ul{
           display: none;
       }
     .nav:hover>ul{
       display: block;
     }
       .topnav{display: none;}

       header>nav{
        background: transparent;
   
           
       }
    }
    @media screen and (max-width: 800px) {
       .container{
           display: flex;
           flex-direction: column;
       }
       
      
      .nav:hover{
          display: block;
      }
    
      .nav>ul{
          display: none;
      }
    .nav:hover>ul{
      display: block;
    }
      .topnav{display: none;}
      header>nav{
       background: transparent;
       font-size: 30px;
          
      }
      .headernav>ul{
       font-size: 20px;
      }
       
    }