body {
     background-color: rgb(255, 254, 240);
     box-sizing: border-box;
     box-sizing: border-box;
     background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.sciencephoto.com%2Fimage%2Fz3450860%2F800wm%2FZ3450860-Ant_hill.jpg&f=1&nofb=1&ipt=b981cb1e7df6ea5c7479a7074c103bd586c933fe7cb59b48b903a1d4989f2041&ipo=images);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

p {
     padding: 10px;
     text-indent: 50px;
     text-align: left;
     letter-spacing: 3px;
}

.container {
     display: grid;
     grid-template-columns: 1fr 5fr;
     gap: 5px;
}

div.sticky {

     width: 18px;

     display: grid;
          
     grid-column-start: 2;
          
     grid-row-start: 3;
          
     grid-row-end: 3;
          
     position: -webkit-sticky;
          
     position: sticky;
          
     top: 0;
          
     background-color: rgba(255,255,255,.5);
          
     border-radius: 100px;
          
     border: solid lightgray;
          
     padding: 10px;
          
     font-size: 25px;
     
     height: 18px;    
}
     
div.sticky:hover {/*Gör så att knappen scalar upp när man hovrar över den*/     
     scale: 1.2;    
}

header {
     background: rgba(234, 218, 188, 0.8);
     display: grid;
     grid-column-start: 1;
     grid-column-end: 3;
     align-items: center;
     justify-content: center;
     height: fit-content;
}

header>h1 {
     grid-column-start: 2;
     display: grid;
     justify-content: center;
  }

header>nav {
     background: transparent;
     grid-column-start: 1;
     grid-row-start: 2;
     display: grid;
     align-items: center;
     margin-left: 0px;
     font-size: 30px;
}
 
nav {
     background: rgba(235, 204, 166, 0.8);
     grid-column-start: 1;
     grid-column-end: 3;
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: fit-content;
}

nav ul {
     display: flex;
     flex-direction: row;
     gap:20px;
}
 
nav li {
     list-style: none;
}
 
a {
    text-decoration: none;
     color: black;
}
 
a:hover {
     color: darkgray;
}

.sidebar {
     display: block;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 8;
     background-color: rgba(235, 204, 166, 1);
}

.side-start {
     display: block;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 4;
     background-color: rgba(235, 204, 166, 0);
}

.left-blogg-img {
     display: block;
}

.left-img {
     margin-left: auto;
     margin-right: auto;
     padding: 5%;
     text-align: center;
     width: 100%;
}

.left-follow {
     display: block;
}

fieldset {
     display: block;
     margin-inline-start: 2px;
     margin-inline-end: 2px;
     padding-block-start: 0.35em;
     padding-inline-start: 0.75em;
     padding-inline-end: 0.75em;
     padding-block-end: 0.625em;
     min-inline-size: min-content;
     border-width: 2px;
     border-style: groove;
     border-color: rgb(192, 192, 192);
     border-image: initial;
}

.fa-brands {
   font-size: 30px;
}

.left-text {
     display: block;
}

.style-text-side {
     padding: 5%;
     gap: 10px;
}

.main {
     background-color: rgb(251, 239, 214, 0.8);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row: 3 / 8;
     grid-row: 3 / 8;
     display: grid;
     justify-content: center;
     text-align: center;
     padding: 5%;
     gap: 10px;
     padding: 5%;
     gap: 10px;
}

.main-img {
     padding: 2%;
     border-radius: 10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 3px 3px 3px 3px;
}

.main-section1 {
     display: block;
     background-color: rgb(251, 239, 214, 0);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;
     gap: 10px
}

.main-section2 {
     display: grid;
     background-color: rgb(251, 239, 214, 0);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 4;
     grid-row-end: 5;
     gap: 10px
}

.main-section3 {
     display: grid;
     background-color: rgb(251, 239, 214, 0);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 5;
     grid-row-end: 6;
     gap: 10px
}

.main-section4 {
     display: grid;
     background-color: rgb(251, 239, 214, 0);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 6;
     grid-row-end: 7;
     gap: 10px;
}

.picture-gallery {
     display: block;
     margin-left: auto;
     margin-right: auto;
     background-color: rgb(251, 239, 214, 0);
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 7;
     grid-row-end: 8;
     border-radius: 10px;
     box-shadow: 3px 3px 3px 3px;
}

.footer {
    background-color: rgba(234, 218, 188, 0.8);
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 10px;
    gap: 10px;
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 678px) {/*För mobil*/
     .container{
         display: flex;
         flex-direction: column;
     }

     div .sticky {
          display: none;
     }

    .sidebar {
        display: none;
     }

    .nav:hover{
        display: block;
     }
  
    .nav>ul{
        display: none;
     }

     .nav:hover>ul{
          display: block;
     }

    .nav {
          display: none;
     }

    .nav-burger>ul {
     display: none;

    }
    .nav-burger:hover>ul{
     display: block;
    }

 }

 @media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    div .sticky {
     display: none;
     }

   .sidebar {
       display: none;
   }

   .nav:hover{
       display: block;
   }
 
   .nav>ul{
       display: none;
   }

   .nav:hover>ul {
          display: block;
     }

   .nav {
          display: none;
     }

   .nav-burger>ul {
     display: none;
     }

   .nav-burger:hover>ul {
     display: block;
     }
     
    
}

@media (min-width: 800px) {
    .nav-burger {
          display: none;
     }

    .nav-burger> ul{
        display: none;
    }
    
}