body {
     background-color: black;
     box-sizing: border-box;
     box-sizing: border-box;
}

p {
     padding: 10px;
     text-indent: 50px;
     text-align: left;
     letter-spacing: 3px;
}

.container {
     display: grid;
     grid-template-columns: 1fr 5fr;
     gap: 5px;
}

div.sticky {

     width: 18px;

     display: grid;
          
     grid-column-start: 2;
          
     grid-row-start: 3;
          
     grid-row-end: 3;
          
     position: -webkit-sticky;
          
     position: sticky;
          
     top: 0;
          
     background-color: rgba(255,255,255,.5);
          
     border-radius: 100px;
          
     border: solid lightgray;
          
     padding: 10px;
          
     font-size: 25px;
     
     height: 18px;    
}
     
div.sticky:hover {/*Gör så att knappen scalar upp när man hovrar över den*/     
     scale: 1.2;    
}

.header {
     background: rgba(244, 164, 96);
     display: grid;
     grid-column-start: 1;
     grid-column-end: 3;
     align-items: center;
     justify-content: center;
}
 
nav {
     background: beige;
     grid-column-start: 1;
     grid-column-end: 3;
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: fit-content;
}

nav ul {
     display: flex;
     flex-direction: row;
     gap:20px;
}
 
nav li {
     list-style: none;
}
 
a {
    text-decoration: none;
     color: black;
}
 
a:hover {
     color: darkgray;
}

.sidebar {
     display: block;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 8;
     background-color: beige;
}

.side-start {
     display: block;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 4;
     background-color: beige;
}

.left-blogg-img {
     display: block;
}

.left-img {
     margin-left: auto;
     margin-right: auto;
     padding: 5%;
     text-align: center;
     width: 100%;
}

.left-follow {
     display: block;
}

fieldset {
     display: block;
     margin-inline-start: 2px;
     margin-inline-end: 2px;
     padding-block-start: 0.35em;
     padding-inline-start: 0.75em;
     padding-inline-end: 0.75em;
     padding-block-end: 0.625em;
     min-inline-size: min-content;
     border-width: 2px;
     border-style: groove;
     border-color: rgb(192, 192, 192);
     border-image: initial;
}

.fa-brands {
   font-size: 30px;
}

.left-text {
     display: block;
}

.style-text-side {
     padding: 5%;
     gap: 10px;
}

.main {
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row: 3 / 8;
     grid-row: 3 / 8;
     display: grid;
     justify-content: center;
     text-align: center;
     padding: 5%;
     gap: 10px;
     padding: 5%;
     gap: 10px;
}

.main-img {
     padding: 2%;
     border-radius: 10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 3px 3px 3px 3px;
}

.main-section1 {
     display: block;
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;
     gap: 10px
}

.main-section2 {
     display: grid;
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 4;
     grid-row-end: 5;
     gap: 10px
}

.main-section3 {
     display: grid;
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 5;
     grid-row-end: 6;
     gap: 10px
}

.main-section4 {
     display: grid;
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 6;
     grid-row-end: 7;
     gap: 10px
}

.bildgalleri {
     display: block;
     background-color: beige;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 7;
     grid-row-end: 8;
     text-align: center;
}

.gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
}

.footer {
    background-color: bisque;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 10px;
    gap: 10px;
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 678px) {/*För mobil*/
     .container{
         display: flex;
         flex-direction: column;
     }

    .sidebar {
        display: none;
     }

    .nav:hover{
        display: block;
     }
  
    .nav>ul{
        display: none;
     }

     .nav:hover>ul{
    display: block;
     }

    .nav {
     display: none;
     }

    .nav-burger {
     background: transparent;   
    }

 }

 @media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }

   .sidebar {
       display: none;
   }

   .nav:hover{
       display: block;
   }
 
   .nav>ul{
       display: none;
   }

   .nav:hover>ul {
     display: block;
     }

   .nav {
     display: none;
     }

   .nav-burger {
    background: transparent;
    font-size: 30px;   
     }

   .nav-burger>ul{
    font-size: 20px;
   }
    
}

@media (min-width: 800px) {
    .nav-burger {
     display: none;
     }

    .nav-burger> ul{
        display: none;
    }
    
}